.heiz { 
	height: 1200px;
 } 
 .ziz { 
 	height: 3px;
  } 
  .vidos { 
  	height: auto;
   } 
   .chebaka { 
   	height: 70px; 
    } 
    .omg { 
    	height: 30px;
     } 
     .xix { 
     	height: 2px;
      } 
      .dod { 
      	height: 130px;
       } 
       .lel { 
       	width: 5px;
        }
        .ml { 
          margin-left: 150px;
         }